<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title>pc端</title>
	</head>
	<frameset rows="118,*" framespacing="0" border="0">
		<frame src="http://localhost:8080/top" id="header-frame" name="header-frame" frameborder="no" scrolling="no" style="background:#212121;">
			<frameset cols="180, 10, *" framespacing="0" border="0" id="frame-body">
				<frame src="http://localhost:8080/navmenu" id="menu-frame" name="menu-frame" frameborder="no" scrolling="yes">
					<frame src="http://localhost:8080/small" id="drag-frame" name="drag-frame" frameborder="no" scrolling="no">
						<frame src="http://localhost:8080/newcontent" id="main-frame" name="main-frame" frameborder="no" scrolling="yes">
			</frameset>
	</frameset>

</html>