<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="css/content.css">
	<title>Document</title>
</head>
<body>
	<div id="navmenu">
		<span>导航菜单</span>
	</div>
	<div class="menu-list">
		<ul class="border-top">
			<li class="hbj1">商品管理
				<ul >
					<a target="mainContent" href="http://localhost:8080/new"><li class="menu-item" id="shop-list">商品列表</li></a>
					<a target="mainContent" href="http://localhost:8080/shoptab"><li class="menu-item" id="shop-xi">添加新商品</li></a>
					<li class="menu-item" >商品分类</li>
					<li class="menu-item">用户评论</li>
					<li class="menu-item">商品品牌</li>
					<li class="menu-item">商品类型</li>
					<li class="menu-item">商品回收站</li>
					<li class="menu-item">图片批量处理</li>
					<li class="menu-item">图片批量上传</li>
					<li class="menu-item">商品批量导出</li>
					<li class="menu-item">商品批量修改</li>
					<li class="menu-item">生成品代码</li>
					<li class="menu-item">标签管理</li>
					<li class="menu-item">虚拟商品列表</li>
					<li class="menu-item">添加虚拟商品</li>
					<li class="menu-item">更改加密串</li>
					<li class="menu-item">商品自动下架</li>
					<li class="menu-item" >商品分类</li>
					<li class="menu-item">用户评论</li>
					<li class="menu-item">商品品牌</li>
					<li class="menu-item">商品类型</li>
					<li class="menu-item">商品回收站</li>
					<li class="menu-item">图片批量处理</li>
					<li class="menu-item">图片批量上传</li>
					<li class="menu-item">商品批量导出</li>
					<li class="menu-item">商品批量修改</li>
					<li class="menu-item">生成品代码</li>
					<li class="menu-item">标签管理</li>
					<li class="menu-item">虚拟商品列表</li>
					<li class="menu-item">添加虚拟商品</li>
					<li class="menu-item">更改加密串</li>
					<li class="menu-item">商品自动下架</li>
					<li class="menu-item" >商品分类</li>
					<li class="menu-item">用户评论</li>
					<li class="menu-item">商品品牌</li>
					<li class="menu-item">商品类型</li>
					<li class="menu-item">商品回收站</li>
					<li class="menu-item">图片批量处理</li>
					<li class="menu-item">图片批量上传</li>
					<li class="menu-item">商品批量导出</li>
					<li class="menu-item">商品批量修改</li>
					<li class="menu-item">生成品代码</li>
					<li class="menu-item">标签管理</li>
					<li class="menu-item">虚拟商品列表</li>
					<li class="menu-item">添加虚拟商品</li>
					<li class="menu-item">更改加密串</li>
					<li class="menu-item">商品自动下架</li>
				</ul>
			</li>
			
		</ul>
	</div>
	
</body>
	<script type="text/javascript" src="/js/jquery.min.js"></script>
	<script>
		$(".hbj1").hover(function(){
			$(this).addClass("hbj2");
      $(".hbj1 ul").css("display","block");
		},function(){
			$(this).removeClass("hbj2");
      $(".hbj1 ul").css("display","none");
		})
		

		
		
	</script>
</html>