<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>Document</title>
		<link rel="stylesheet" type="text/css" href="css/new.css">
	</head>

	<iframe name="mainContent" src="http://localhost:8080/new" style="height:550px;width: 100%;border: none;"></iframe>

</html>