<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>Document</title>
		<link rel="stylesheet" type="text/css" href="css/content.css">

	</head>

	<body>
		<div class="" onclick="toggleMenu();">
			<div id="show_right" style="display:none; position:relative; height:100%; width:37px; background:url(img/bjx.gif) no-repeat center top; cursor:pointer;">

			</div>
			<table height="100%" cellspacing="0" cellpadding="0" id="tbl" style=" position:absolute; right:0;top:0%;   background: #303030;">
				<tbody>
					<tr>
						<td>
							<a href="javascript:void(0);">
								<img src="img/right.gif" width="10" height="30" id="img" border="0">
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

	</body>

</html>